<div class="container">
    <nav aria-label="breadcrumb" style="padding-top:40px; padding-bottom:20px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2>Home</h2></li>
        </ol>
    </nav>
</div>

<div class="container">
    <br>
    <h2>This project is a client for the <a href="https://api.artic.edu/docs/#introduction" target="_blank">Art Institute of Chicago RESTful API</a>.</h2>
    <br>
    <h3>The RESTful API is provided by the <a href="https://www.artic.edu/" target="_blank">Art Institute of Chicago</a>.</h3>
    <br>
    <h3>Please browse the following subjects to get more info:</h3>
    <br>
    <ul>
        <li><h3><a routerLink="/artworks-component" routerLinkActive="active" ariaCurrentWhenActive="page">Artworks</a><br></h3></li>
        <li><h3><a routerLink="/products-component" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a><br></h3></li>

    </ul>
    <br><br><br><br>
    <div style="text-align: center;"><h2>You will be automatically redirected to Artworks in 15 seconds.</h2></div>
</div>