<div class="container">
    <nav aria-label="breadcrumb" style="padding-top:40px; padding-bottom:20px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2>Artworks</h2></li>
        </ol>
    </nav>
</div>

<div class="container">
    <table class="table" style="border-collapse: collapse;">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artwork of artworks| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <td>{{ artwork.title }}</td>
            <td>{{artwork.artist_title ?? "n.a."}}</td>
            <td>{{ artwork.artwork_type_title}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getArtworkById(artwork.id)">Details</button><button type="button" class="btn btn-link">View</button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="artwork">
                        <p>{{ artwork.title }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
