<div class="container">
    <nav aria-label="breadcrumb" style="padding-top:40px; padding-bottom:20px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2>Artworks</h2></li>
        </ol>
    </nav>
</div>

<div class="container">
    <table class="table" style="border-collapse: collapse;">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artwork of artworks| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <td *ngIf="artwork.title.length>50"><span title="{{ artwork.title}}">{{ artwork.title | slice:0:50}} ...</span></td>
            <td *ngIf="artwork.title.length<50"><span title="{{ artwork.title}}">{{ artwork.title}}</span></td>
            <td>{{ artwork.artist_title ?? "n.a." }}</td>
            <td>{{ artwork.artwork_type_title}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="getArtworkById(artwork.id)">View</button><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#detailsModal" (click)="getArtworkById(artwork.id)">Details</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="loading">
        Loading data, please wait ...
    </div>
    <div *ngIf="!loading">
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>

    <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div *ngIf="artwork">
                    <div class="modal-header">
                        <h6 class="modal-title" id="viewModalLabel"><b>{{ artwork.title }}</b><br>by<br><b>{{artwork.artist_title ?? "n.a."}}</b></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style="display: flex;justify-content: center;align-items: center;">
                            <div><img src='{{ imageURL }}'></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- Details Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div *ngIf="artwork">
                <div class="modal-header">
                    <h6 class="modal-title" id="detailsModalLabel"><b>{{ artwork.title }}</b><br>by<br><b>{{artwork.artist_title ?? "n.a."}}</b></h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <table class="table">
                            <tr>
                                <th scope="row">Title</th>
                                <td>{{ artwork.title }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Reference number</th>
                                <td>{{ artwork.main_reference_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date start</th>
                                <td>{{ artwork.date_start }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date end</th>
                                <td>{{ artwork.date_end }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Artist display</th>
                                <td>{{ artwork.artist_display }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Place of origin</th>
                                <td>{{ artwork.place_of_origin }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Dimensions</th>
                                <td>{{ artwork.dimensions }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Medium display</th>
                                <td>{{ artwork.medium_display }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Credit line</th>
                                <td>{{ artwork.credit_line }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
