<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Type</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artwork of artworks| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <td>{{ artwork.title }}</td>
            <td>{{ artwork.artist_title }}</td>
            <td>{{ artwork.artwork_type_title}}</td>
            <td>{{ artwork.department_title}}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button><button type="button" class="btn btn-link">View</button>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
