<div class="container">
    <nav aria-label="breadcrumb" style="padding-top:40px; padding-bottom:20px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><h2>Static content</h2></li>
        </ol>
    </nav>
</div>

<div class="container">
    <table class="table" style="border-collapse: collapse;">
        <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let site of sites| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
            <td> {{ site.title }}</td>
            <td style="text-align: right">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal" (click)="getSiteById(site.id)">View static content</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="loading">
        Loading data, please wait ...
    </div>
    <div *ngIf="!loading">
        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>

    <!-- View Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div *ngIf="site">
                    <div class="modal-header">
                        <h6 class="modal-title" id="viewModalLabel"><b>{{ site.title }}</b></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <button type="button" class="btn btn-link" data-bs-dismiss="modal"><a href="{{ site.web_url }}" target="_blank">Click to view static content about {{ site.title }}</a></button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
